<configuration debug="false">
    <!-- log levels -->
    <define name="akka.log-level" class="de.zib.paciofs.logging.LogbackPropertyDefiners$ConfigVarWithDefaultValue">
        <var>akka.loglevel</var>
        <defaultValue>INFO</defaultValue>
    </define>
    <define name="paciofs.log-level" class="de.zib.paciofs.logging.LogbackPropertyDefiners$ConfigVarWithDefaultValue">
        <var>paciofs.log-level</var>
        <defaultValue>INFO</defaultValue>
    </define>
    <define name="paciofs.bitcoind-client.multichain.log-level" class="de.zib.paciofs.logging.LogbackPropertyDefiners$ConfigVarWithDefaultValue">
        <var>paciofs.bitcoind-client.multichain.log-level</var>
        <defaultValue>${paciofs.log-level}</defaultValue>
    </define>

    <!-- enable/disable markers -->
    <define name="paciofs.logging.markers.configuration" class="de.zib.paciofs.logging.LogbackPropertyDefiners$ConfigVarWithDefaultValue">
        <var>paciofs.logging.markers.configuration</var>
        <defaultValue>DENY</defaultValue>
    </define>
    <define name="paciofs.logging.markers.exception" class="de.zib.paciofs.logging.LogbackPropertyDefiners$ConfigVarWithDefaultValue">
        <var>paciofs.logging.markers.exception</var>
        <defaultValue>DENY</defaultValue>
    </define>

    <!-- corresponding filters -->
    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>CONFIGURATION</Marker>
        <OnMatch>${paciofs.logging.markers.configuration}</OnMatch>
    </turboFilter>
    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>EXCEPTION</Marker>
        <OnMatch>${paciofs.logging.markers.exception}</OnMatch>
    </turboFilter>

    <!-- log to console -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] [%date] [%thread] [%logger] %message %n</pattern>
        </encoder>
    </appender>

    <!-- Logback is blocking by default, so use an asynchronous appender -->
    <appender name="async-stdout" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="stdout" />
    </appender>

    <!-- for all Akka logs -->
    <logger name ="akka" level="${akka.log-level}" additivity="false">
        <appender-ref ref="async-stdout" />
    </logger>

    <!-- parent logger used by all classes that match its name and have no more specific definitions below -->
    <logger name="de.zib.paciofs" level="${paciofs.log-level}" additivity="false">
        <appender-ref ref="async-stdout" />
    </logger>

    <!-- special logger for MultiChain -->
    <logger name="de.zib.paciofs.blockchain.multichain" level="${paciofs.bitcoind-client.multichain.log-level}" additivity="false">
        <appender-ref ref="async-stdout" />
    </logger>

    <root level="${paciofs.log-level}">
        <appender-ref ref="async-stdout" />
    </root>
</configuration>