language: java

# do not build tagged commits
# this way we avoid rebuilding upon successful deployment (see below)
if: tag IS blank

matrix:
  include:
    - os: linux
      dist: xenial
      jdk: openjdk11
      addons:
        apt:
          packages:
            - clang-format
            - cppcheck
            - libboost-all-dev
            - libfuse-dev
      env:
        - CMAKE_DIST=Linux
        # cmake-<VERSION>-Linux-x86_64/
        - CMAKE_STRIP_COMPONENTS=1
        - GO_DIST=linux
        - LOAD_FUSE_CMD="true"
        - MULTICHAIN_VERSION=2.0.2
        - MULTICHAIN_URL=https://www.multichain.com/download/multichain-${MULTICHAIN_VERSION}.tar.gz

    - os: osx
      osx_image: xcode9.2
      addons:
        homebrew:
          casks:
            - oracle-jdk
            - osxfuse
          packages:
            - boost
            - clang-format
            - cppcheck
          update: true
      env:
        - CMAKE_DIST=Darwin
        # cmake-<VERSION>-Darwin-x86_64/CMake.app/Contents/
        - CMAKE_STRIP_COMPONENTS=3
        - GO_DIST=darwin
        - LOAD_FUSE_CMD="/Library/Filesystems/osxfuse.fs/Contents/Resources/load_osxfuse"
        - MULTICHAIN_VERSION=2.0-release
        - MULTICHAIN_TAG=20190521T124426
        - MULTICHAIN_HASH=2bff381
        - MULTICHAIN_URL=https://github.com/paciofs/multichain/releases/download/${MULTICHAIN_VERSION}-${MULTICHAIN_TAG}/multichain-${MULTICHAIN_VERSION}-${MULTICHAIN_HASH}-osx.tar.gz

    - os: linux
      dist: xenial
      services:
        - docker
      before_install: true
      install: true
      script:
        - ./paciofs-docker/create_clean_source_distribution.sh ./paciofs-docker/dist
        - docker-compose --log-level INFO --file ./paciofs-docker/docker-compose.yaml build

before_install:
  # load kernel extension on macOS, do nothing otherwise
  - sudo ${LOAD_FUSE_CMD}

  # install CMake, stripping the first N path elements
  - export CMAKE_VERSION="3.14.5"
  - wget --output-document cmake.tar.gz --quiet https://github.com/Kitware/CMake/releases/download/v${CMAKE_VERSION}/cmake-${CMAKE_VERSION}-${CMAKE_DIST}-x86_64.tar.gz
  - sudo mkdir /usr/local/cmake-${CMAKE_VERSION}
  - sudo tar --directory /usr/local/cmake-${CMAKE_VERSION} --extract --file cmake.tar.gz --strip-components ${CMAKE_STRIP_COMPONENTS}
  - rm cmake.tar.gz
  - export PATH="/usr/local/cmake-${CMAKE_VERSION}/bin:${PATH}"

  # install go
  - wget --output-document go.tar.gz --quiet https://dl.google.com/go/go1.12.6.${GO_DIST}-amd64.tar.gz
  - sudo tar --directory /usr/local --extract --file go.tar.gz
  - rm go.tar.gz
  - export GOPATH="${HOME}/go"
  - export GOBIN="${GOPATH}/bin"
  - export PATH="${PATH}:/usr/local/go/bin:${GOBIN}"

  # install dep
  - mkdir -p ${GOBIN}
  - export DEP_RELEASE_TAG="v0.5.0"
  - curl --silent https://raw.githubusercontent.com/golang/dep/master/install.sh | sh

  # install MultiChain
  - wget --output-document multichain.tar.gz --quiet ${MULTICHAIN_URL}
  - sudo tar --directory /usr/local --extract --file multichain.tar.gz
  - rm multichain.tar.gz
  - export MULTICHAIN_HOME="/usr/local/multichain-${MULTICHAIN_VERSION}"

  # for cppcheck-htmlreport
  - pip install --user pygments

install:
  # install parent pom only first
  - mvn --non-recursive install
  - mvn --file ./paciofs-client/third_party/pom.xml install
  - mvn install --define destdir=/tmp --define skipTests=true --define maven.javadoc.skip=true --batch-mode --show-version

script: ./.travis/test.sh
