Format: 1.0
Source: paciofs
Version: ${PACIOFS_VERSION}
Binary: paciofs
Maintainer: PacioFS Project <paciofs-dev@googlegroups.com>
Architecture: any
Build-Depends: debhelper (>= 4.1.16), autoconf, automake, build-essential, default-jdk, gettext, libboost-filesystem-dev (>= 1.55.0), libboost-log-dev (>= 1.55.0), libboost-program-options-dev (>= 1.55.0), libboost-system-dev (>= 1.55.0), libboost-date-time-dev (>= 1.55.0), libboost-thread-dev (>= 1.55.0), libboost-regex-dev (>= 1.55.0), libboost-chrono-dev (>= 1.55.0), libboost-atomic-dev (>= 1.55.0), libfuse-dev (>= 2.9.3), libssl-dev (>= 1.0.1), libtool, pkg-config, zlib1g-dev
Files:
 ${PACIOFS_TARBALL_MD5SUM} ${PACIOFS_TARBALL_SIZE} paciofs_${PACIOFS_VERSION}.orig.tar.gz
